amqp==2.6.0
asgiref==3.2.7
astroid==2.4.2
billiard==3.6.3.0
celery==4.4.5
Django==3.0.14
django-celery-beat==2.0.0
django-timezone-field==4.0
ephem==3.7.7.1
future==0.18.2
isort==4.3.21
kombu==4.6.10
lazy-object-proxy==1.4.3
mccabe==0.6.1
pylint==2.5.3
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2020.1
redis==3.5.3
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
vine==1.3.0
wrapt==1.12.1
